/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1.4; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
.portfolio__info, .portfolio__post, .home__info {
  border: 3px solid transparent;
  -o-border-image: linear-gradient(to left, #E9155C 0%, #202F91 100%);
     border-image: linear-gradient(to left, #E9155C 0%, #202F91 100%);
  border-image-slice: 1; }

.site-header, .category-container, .blog__post, .tag-page__tag {
  border-bottom: 3px solid transparent;
  -o-border-image: linear-gradient(to left, #E9155C 0%, #202F91 100%);
     border-image: linear-gradient(to left, #E9155C 0%, #202F91 100%);
  border-image-slice: 1; }

.portfolio-post__info {
  border-left: 3px solid transparent;
  -o-border-image: linear-gradient(to top, #E9155C 0%, #202F91 100%);
     border-image: linear-gradient(to top, #E9155C 0%, #202F91 100%);
  border-image-slice: 1; }

@font-face {
  font-family: 'DropDeadGorgeous';
  src: url("/assets/webfonts/320BAC_0_0.eot");
  src: url("/assets/webfonts/320BAC_0_0.eot?#iefix") format("embedded-opentype"), url("/assets/webfonts/320BAC_0_0.woff2") format("woff2"), url("/assets/webfonts/320BAC_0_0.woff") format("woff"), url("/assets/webfonts/320BAC_0_0.ttf") format("truetype"); }

body {
  font-size: 1em; }

h5 {
  font-size: 1.25em; }

h4 {
  font-size: 1.5625em; }

h3 {
  font-size: 1.95312em; }

h2 {
  font-size: 2.44141em; }

h1 {
  font-size: 3.05176em; }

body {
  font-family: "freight-sans-pro", sans-serif;
  color: #2a2a2a;
  box-sizing: border-box;
  background-color: white; }

a {
  cursor: pointer;
  color: #202F91; }
  a:focus, a:hover {
    color: #E9155C;
    text-decoration: underline; }

.date {
  color: #5d5d5d;
  line-height: 0.5; }

.site-header {
  margin: 2%;
  padding-bottom: 2%; }

.navbar {
  margin: auto auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .navbar a {
    text-transform: uppercase;
    text-decoration: none; }

.navbar__logo {
  margin: 0;
  width: 7em; }
  .navbar__logo img {
    width: 100%; }

.navbar__link {
  font-size: 1.5625em;
  width: 7em;
  text-align: center; }
  .navbar__link a {
    text-decoration: none !important; }
  @media (min-width: 800px) {
    .navbar__link {
      width: 6em; } }

.navbar__link--active a {
  color: #E9155C; }

footer {
  height: 2em; }

@media (max-width: 800px) {
  .category-container {
    text-align: center; } }

@media (max-width: 700px) {
  .category-container {
    padding-bottom: 5px; } }

.category-container li {
  display: inline-block;
  padding: 2%;
  text-align: center;
  font-size: 1.25em;
  white-space: nowrap; }
  @media (max-width: 700px) {
    .category-container li {
      width: 40%;
      margin: 5px; } }

.category-container--portfolio {
  text-align: center; }
  .category-container--portfolio li {
    margin-left: 0.2%;
    margin-right: 0.2%; }
    @media (max-width: 500px) {
      .category-container--portfolio li {
        font-size: 1em; } }
  .category-container--portfolio a {
    text-transform: uppercase;
    text-decoration: none; }

.category-container--blog {
  width: 100%; }
  @media (max-width: 400px) {
    .category-container--blog li {
      font-size: 1em; } }

.category-container__category li {
  border: 3px solid transparent;
  -o-border-image: linear-gradient(to left, #E9155C 0%, #202F91 100%);
     border-image: linear-gradient(to left, #E9155C 0%, #202F91 100%);
  border-image-slice: 1; }
  @media (min-width: 700px) {
    .category-container__category li {
      border-bottom: none;
      border-bottom-width: 0;
      z-index: -1; } }

.category-container__category--active {
  color: #E9155C; }

.blog-layout {
  display: -ms-flexbox;
  display: flex; }
  .blog-layout a {
    text-transform: uppercase;
    text-decoration: none; }

.blog-layout__gutter--left {
  width: 8.5%; }

.main-blog {
  width: 75%;
  min-width: 75%; }
  @media (max-width: 950px) {
    .main-blog {
      width: 83%;
      min-width: 83%; } }

.blog-layout__gutter--right {
  width: 16.5%; }
  @media (max-width: 950px) {
    .blog-layout__gutter--right {
      width: 8.5%; } }

.blog__post {
  display: -ms-flexbox;
  display: flex;
  font-family: "freight-sans-pro", sans-serif;
  padding: 2% 0; }
  .blog__post p {
    margin: 0.5rem 0; }
  .blog__post li {
    display: inline; }
  .blog__post h2 {
    font-weight: 400;
    text-transform: none;
    line-height: 1; }
  @media (max-width: 800px) {
    .blog__post h2 {
      font-size: 1.95312em; } }
  @media (max-width: 600px) {
    .blog__post {
      -ms-flex-direction: column;
          flex-direction: column; } }
  @media (max-width: 480px) {
    .blog__post h2 {
      font-size: 1.5625em; } }

@-moz-document url-prefix() {
  .blog__width-fixer {
    min-width: 800px; }
    @media (max-width: 850px) {
      .blog__width-fixer {
        min-width: 600px; } }
    @media (max-width: 600px) {
      .blog__width-fixer {
        display: none; } } }

.blog__image img {
  width: 100%;
  max-width: 100%; }

@media (min-width: 600px) {
  .blog__image {
    margin-right: 10px; } }

@media (max-width: 850px) {
  .blog__image {
    width: 200px; } }

@media (max-width: 600px) {
  .blog__image {
    width: 100%;
    max-width: 100%; } }

@media (max-width: 480px) {
  .blog__image {
    margin: auto auto;
    text-align: center; } }

.blog__info {
  width: 60%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  @media (max-width: 850px) {
    .blog__info {
      margin-left: 2%;
      width: 70%; } }
  @media (max-width: 600px) {
    .blog__info {
      width: 100%;
      margin-left: 1%; } }

.date--blog {
  font-style: italic; }

.tag-container__tag {
  padding: 0 0.5rem 0 0; }

.blog-post {
  margin: auto auto;
  width: 55%; }
  .blog-post p {
    margin: 1em; }
  @media (max-width: 1200px) {
    .blog-post {
      width: 60%; } }
  @media (max-width: 900px) {
    .blog-post {
      width: 65%; } }
  @media (max-width: 750px) {
    .blog-post {
      width: 70%; } }
  @media (max-width: 600px) {
    .blog-post {
      width: 80%; } }
  @media (max-width: 450px) {
    .blog-post {
      width: 90%; } }

.blog-post-header {
  width: 70%;
  margin: auto auto; }
  .blog-post-header h1 {
    text-align: center; }

.post {
  font-family: "freight-text-pro", serif;
  font-size: 1.25em;
  line-height: 1.5; }
  .post li {
    margin: 0.5em 2em; }

.date--blog-post {
  text-align: center;
  font-family: "freight-sans-pro", sans-serif;
  font-size: 1.25em; }

.tag-page {
  width: 90%;
  margin: auto auto; }

.tag-page__title {
  font-weight: 200;
  color: #E9155C; }
  @media (max-width: 800px) {
    .tag-page__title {
      font-size: 2.44141em; } }

.tag-page__tag {
  margin: 1% auto;
  padding: 0% 0% 2% 0%; }
  .tag-page__tag h2 {
    font-weight: 200; }
    @media (max-width: 800px) {
      .tag-page__tag h2 {
        font-size: 1.95312em; } }
  .tag-page__tag li {
    padding-top: 5px;
    font-size: 1.25em; }
    @media (max-width: 800px) {
      .tag-page__tag li {
        font-size: 1em; } }

.portfolio-layout {
  width: 90%;
  margin: auto auto; }
  @media (max-width: 1000px) {
    .portfolio-layout {
      width: 90%; } }

.portfolio {
  margin: auto auto;
  margin-top: 1%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: center;
      justify-content: center; }
  @media (max-width: 700px) {
    .portfolio {
      width: 80%; } }
  @media (max-width: 600px) {
    .portfolio {
      width: 90%; } }

.portfolio__info {
  display: none;
  position: absolute;
  background-color: white;
  width: 18em;
  bottom: 1em;
  left: 1em;
  padding: 0.2em 0.5em 0.5em 0.5em;
  box-sizing: border-box;
  text-align: center; }
  .portfolio__info h2 {
    font-weight: 400;
    font-size: 1.5625em; }
  .portfolio__info p {
    font-size: 1em;
    line-height: 1.2; }

.portfolio__post {
  width: 20em;
  height: 20em;
  margin: 1em;
  position: relative; }
  .portfolio__post a {
    text-decoration: none; }
  .portfolio__post:hover .portfolio__image {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8); }
  .portfolio__post:hover .portfolio__info {
    display: block; }

.portfolio__selector:focus > .portfolio__image {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8); }

.portfolio__selector:focus + .portfolio__info {
  display: block; }

.portfolio__image {
  transition: all 0.5s ease;
  height: 20em;
  width: 20em;
  max-height: 20em;
  max-width: 20em; }

.portfolio-icon--github {
  margin-left: 1em;
  margin-right: 5px;
  text-decoration: none; }
  .portfolio-icon--github:hover, .portfolio-icon--github:focus {
    text-decoration: none; }

.portfolio-post {
  width: 90%;
  margin: auto auto;
  display: -ms-flexbox;
  display: flex; }
  .portfolio-post h2 {
    margin-left: 0.3em;
    font-weight: 400;
    line-height: 1; }
  .portfolio-post p {
    margin: 1em; }
  @media (max-width: 1100px) {
    .portfolio-post {
      -ms-flex-direction: column;
          flex-direction: column; } }

.portfolio-post__image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 1em; }
  @media (min-width: 1100px) {
    .portfolio-post__image {
      height: 100%;
      max-height: 100%;
      max-width: 70%; } }
  @media (max-width: 800px) {
    .portfolio-post__image {
      -ms-flex-direction: column;
          flex-direction: column;
      width: 100%;
      max-width: 100%; } }

.portfolio-post__image--vertical {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }

.portfolio-post__image--25 {
  margin: 2%;
  width: 80%;
  max-width: 80%; }
  @media (max-width: 800px) {
    .portfolio-post__image--25 {
      width: 90%;
      max-width: 90%; } }

.portfolio-post__image--50 {
  margin: 2%;
  width: 44%;
  max-width: 44%; }
  @media (max-width: 800px) {
    .portfolio-post__image--50 {
      width: 90%;
      max-width: 90%; } }

.portfolio-post__image--100 {
  width: 100%;
  max-width: 100%; }

.portfolio-post__info {
  box-sizing: border-box;
  margin-left: 2vw;
  padding: 1%;
  width: 40%; }
  @media (max-width: 1100px) {
    .portfolio-post__info {
      border-top: 3px solid transparent;
      -o-border-image: linear-gradient(to left, #E9155C 0%, #202F91 100%);
         border-image: linear-gradient(to left, #E9155C 0%, #202F91 100%);
      border-image-slice: 1;
      border-left: none;
      border-left-width: 0;
      width: 100%;
      margin-left: 0;
      margin-top: 2vh;
      padding: 1em 5em; } }
  @media (max-width: 800px) {
    .portfolio-post__info {
      padding: 0.5em 1em; } }
  @media (max-width: 600px) {
    .portfolio-post__info {
      padding: 0.5em 0em; } }

.date--portfolio-post {
  margin-bottom: 1.2em;
  margin-left: 1em;
  font-style: italic; }

.home-title {
  width: 88%;
  margin: 2% auto 3% auto; }
  .home-title h1 {
    font-family: 'DropDeadGorgeous';
    font-size: 5.063em;
    color: #202F91; }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      .home-title h1 {
        background: linear-gradient(to left, #E9155C 50%, #202F91);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; } }
    @media (max-width: 800px) {
      .home-title h1 {
        font-size: 4.4em; } }
    @media (max-width: 650px) {
      .home-title h1 {
        font-size: 4em; } }
    @media (max-width: 550px) {
      .home-title h1 {
        font-size: 3.4em; } }
    @media (max-width: 500px) {
      .home-title h1 {
        font-size: 3em; } }
  .home-title h2 {
    color: #E9155C;
    line-height: 1;
    margin: 1% auto; }
    @media (max-width: 1000px) {
      .home-title h2 {
        font-size: 1.95312em;
        line-height: 1.2; } }
    @media (max-width: 800px) {
      .home-title h2 {
        font-size: 1.5625em;
        line-height: 1.1; } }
  .home-title li {
    display: inline;
    font-size: 1.5625em;
    color: #E9155C;
    font-weight: 600; }
    .home-title li a {
      text-decoration: none; }
    @media (max-width: 800px) {
      .home-title li {
        font-size: 1.25em; } }

.home {
  width: 90%;
  margin: auto auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.home__info {
  margin: 1em;
  width: 70%;
  padding: 2%; }
  .home__info p {
    font-size: 1.25em;
    margin: 1em auto;
    line-height: 1.2; }
    @media (max-width: 700px) {
      .home__info p {
        font-size: 1em;
        line-height: 1.3; } }
  .home__info h2 {
    font-weight: 400;
    color: #E9155C; }
    @media (max-width: 700px) {
      .home__info h2 {
        font-size: 1.95312em; } }
  @media (max-width: 600px) {
    .home__info {
      width: 90%; } }

.home__info--right {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.home__highlight {
  margin-top: 0.5em !important;
  font-size: 1.5625em !important; }
  @media (max-width: 700px) {
    .home__highlight {
      margin-top: 0.2em !important;
      font-size: 1.25em !important; } }

.err {
  width: 90%;
  margin: auto auto;
  text-align: center; }
  .err h1, .err h2 {
    font-weight: 200;
    color: #E9155C;
    margin-bottom: 2%;
    line-height: 1.2; }
  @media (max-width: 600px) {
    .err h1 {
      font-size: 2.44141em; } }
  @media (max-width: 600px) {
    .err h2 {
      font-size: 1.95312em; } }
  .err img {
    max-width: 90%; }
