.blog-post {
  margin: auto auto;
  p {
    margin: 1em;
  }
  @media (max-width: 1400px) {
    width: 55%;
  }
  @media (max-width: 1400px) {
    width: 55%;
  }
  @media (max-width: 1200px) {
    width: 60%;
  }
  @media (max-width: 900px) {
    width: 65%;
  }
  @media (max-width: 750px) {
    width: 70%;
  }
  @media (max-width: 600px) {
    width: 80%;
  }
  @media (max-width: 450px) {
    width: 90%;
  }
}

.blog-post-header {
  width: 70%;
  margin: auto auto;
  h1 {
    text-align: center;
  }
}

.post {
  font-family: $font-serif;
  font-size: ms(1);
  line-height: 1.5;
  li {
    margin: 0.5em 2em;
  }
}

.date--blog-post {
  text-align: center;
  font-family: $font-sans;
  font-size: ms(1);
}
