.blog-layout {
  // display: grid;
  // grid-template-columns: 0.5fr 4.5fr 1fr;
  // @media (max-width: 950px) {
  //   grid-template-columns: 0.5fr 5fr 0.5fr;
  // }
  display: flex;
  a {
    text-transform: uppercase;
    text-decoration: none;
  }
}

.blog-layout__gutter--left {
  width: 8.5%;
}

.main-blog {
  width: 75%;
  min-width: 75%;
  @media (max-width: 950px) {
    width: 83%;
    min-width: 83%;
  }
}

.blog-layout__gutter--right {
  width: 16.5%;
  @media (max-width: 950px) {
    width: 8.5%;
  }
}

.blog__post {
  display: flex;
  font-family: $font-sans;
  padding: 2% 0;
  @extend %border-gradient-bottom;
  p {
    margin: 0.5rem 0;
  }
  li {
    display: inline;
  }
  h2 {
    font-weight: 400;
    text-transform: none;
    line-height: 1;
  }
  @media (max-width: 800px) {
    h2 {
      font-size: ms(3);
    }
  }
  @media (max-width: 600px) {
    flex-direction: column;
  }
  @media (max-width: 480px) {
    h2 {
      font-size: ms(2);
    }
  }
}

@-moz-document url-prefix() {
  .blog__width-fixer {
    min-width: 800px;
    @media (max-width: 850px) {
      min-width: 600px;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
}

.blog__image {
  img {
    width: 100%;
    max-width: 100%;
  }
  @media (min-width: 600px) {
    margin-right: 10px;
  }
  @media (max-width: 850px) {
    width: 200px;
  }
  @media (max-width: 600px) {
    width: 100%;
    max-width: 100%;
    // height: 25%;
  }
  @media (max-width: 480px) {
    // height: 20%;
    margin: auto auto;
    text-align: center;
  }
  @media (max-width: 440px) {
    // height: 20%;
  }
}

.blog__info {
  width: 60%;
  display: flex;
  flex-direction: column;
  @media (max-width: 850px) {
    margin-left: 2%;
    width: 70%;
  }
  @media (max-width: 600px) {
    width: 100%;
    margin-left: 1%;
  }
}

.date--blog {
  font-style: italic;
}

.tag-container__tag {
  padding: 0 0.5rem 0 0;
}
