.err {
  width: 90%;
  margin: auto auto;
  text-align: center;
  h1, h2 {
    font-weight: 200;
    color: $pink;
    margin-bottom: 2%;
    line-height: 1.2;
  }
  h1 {
    @media (max-width: 600px) {
      font-size: ms(4);
    }
  }
  h2 {
    @media (max-width: 600px) {
      font-size: ms(3);
    }
  }
  img {
    max-width: 90%;
  }
}
