// Site-wide

body {
  font-family: $font-sans;
  color: $text;
  box-sizing: border-box;
  background-color: white;
}

a {
  cursor: pointer;
  color: $purple;
  &:focus, &:hover {
    color: $pink;
    text-decoration: underline;
  }
}

pre {
  background-color: lighten($text, 75%);
  padding: 2%;
  max-width: 100%;
  white-space: pre-wrap;
}

figcaption {
  a {
    color: lighten($text, 40%);
    font-style: italic;
    font-family: $font-sans;
    font-size: 0.9em;
  }
}

// Page-wide

.date {
  color: lighten($text, 20%);
  line-height: 0.5;
}
