// Site-wide

body {
  font-family: $font-sans;
  color: $text;
  box-sizing: border-box;
  background-color: white;
}

a {
  cursor: pointer;
  color: $purple;
  &:focus, &:hover {
    color: $pink;
    text-decoration: underline;
  }
}

// Page-wide

.date {
  color: lighten($text, 20%);
  line-height: 0.5;
}
