// Site-wide

html {
  box-sizing: border-box;
}

body {
  font-family: $font-sans;
  color: $text;
}

a {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: $purple;
  &:focus, &:hover {
    color: $pink;
    text-decoration: underline;
  }
}

.layout {
  display: grid;
  grid-template-columns: 0.5fr 4.5fr 1fr;
  @media (max-width: 950px) {
    grid-template-columns: 0.5fr 5fr 0.5fr;
  }
}

// Page-wide

.page_title {
  font-weight: 400;
  border-bottom: 1px solid lighten($text, 60%);
  color: lighten($text, 15%);
  margin: 0% 2%;
  padding: 0% 1.5% 1% 2%;
}

.date {
  color: lighten($text, 20%);
  font-style: italic;
  line-height: 0.5;
}

.tag-container__tag {
  padding: 0 0.5rem 0 0;
}
