header {
  @extend %border-gradient;
  margin: 2%;
  padding-bottom: 2%;
}
.navbar {
  margin: auto auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  a {
    text-transform: uppercase;
    text-decoration: none;
  }
}

.navbar__logo {
  margin: 0;
  width: 7em;
  img {
    width: 100%;
  }
}

.navbar__link {
  font-size: ms(2);
  width: 7em;
  text-align: center;
  a {
    text-decoration: none !important;
  }
  @media (min-width: 800px) {
    width: 6em;
  }
}

.navbar__link--active {
  a {
  color: $pink;
  }
}
