%border-gradient {
  border-bottom: 5px solid transparent;
  -moz-border-image: -moz-linear-gradient(right, $pink 0%, $purple  100%);
  -webkit-border-image: -webkit-linear-gradient(right, $pink 0%, $purple  100%);
  border-image: linear-gradient(to left, $pink 0%, $purple  100%);
  border-image-slice: 1;
}
