.portfolio-layout {
  width: 90%;
  margin: auto auto;
  @media (max-width: 1000px) {
    width: 90%;
  }
}

.portfolio {
  margin: auto auto;
  margin-top: 1%;
  display: flex;
  flex-flow: row wrap;
  @media (max-width: 700px) {
    width: 80%;
  }
  @media (max-width: 600px) {
    width: 90%;
  }
}

.portfolio__post {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 30%;
  h2 {
    font-weight: 400;
    text-transform: none;
    line-height: 1;
    text-align: center;
    @media (max-width: 800px) {
      font-size: ms(3);
    }
  }
  a {
    text-decoration: none;
  }
  @media (max-width: 1200px) {
    width: 30%;
  }
  @media (max-width: 1100px) {
    width: 40%;
  }
  @media (max-width: 800px) {
    width: 50%;
  }
  @media (max-width: 700px) {
    width: 70%;
  }
  @media (max-width: 500px) {
    width: 90%;
  }
}

.portfolio__image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 15em;
  flex-grow: 1;
  @media (max-width: 700px) {
    height: 15em;
  }
}

.portfolio__info {
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(right, $pink 0%, $purple  100%);
  -webkit-border-image: -webkit-linear-gradient(right, $pink 0%, $purple  100%);
  border-image: linear-gradient(to left, $pink 0%, $purple  100%);
  border-image-slice: 1;
  flex-grow: 1;
  padding: 2%;
  border-top: none;
}
