.portfolio-layout {
  width: 90%;
  margin: auto auto;
  @media (max-width: 1000px) {
    width: 90%;
  }
}

.portfolio {
  margin: auto auto;
  margin-top: 1%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  @media (max-width: 700px) {
    width: 80%;
  }
  @media (max-width: 600px) {
    width: 90%;
  }
}

.portfolio__info {
  @extend %border-gradient;
  display: none;
  position: absolute;
  background-color: white;
  width: 18em;
  bottom: 1em;
  left: 1em;
  padding: 0.2em 0.5em 0.5em 0.5em;
  box-sizing: border-box;
  text-align: center;
  h2 {
    font-weight: 400;
    font-size: ms(2);
  }
  p {
    font-size: ms(0);
    line-height: 1.2;
  }
}

.portfolio__post {
  @extend %border-gradient;
  width: 20em;
  height: 20em;
  margin: 1em;
  position: relative;
  a {
    text-decoration: none;
  }
  &:hover .portfolio__image {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
  }
  &:hover .portfolio__info {
    display: block;
  }
}

.portfolio__selector {
  &:focus > .portfolio__image {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
  }
  &:focus + .portfolio__info {
    display: block;
  }
}

.portfolio__image {
  transition: all 0.5s ease;
  height: 20em;
  width: 20em;
  max-height: 20em;
  max-width: 20em;
}

.portfolio-icon--github {
  margin-left: 1em;
  margin-right: 5px;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
  }
}
