@font-face {
  font-family: 'DropDeadGorgeous';
  src: url('/assets/webfonts/320BAC_0_0.eot');
  src: url('/assets/webfonts/320BAC_0_0.eot?#iefix') format('embedded-opentype'),
      url('/assets/webfonts/320BAC_0_0.woff2') format('woff2'),
      url('/assets/webfonts/320BAC_0_0.woff') format('woff'),
      url('/assets/webfonts/320BAC_0_0.ttf') format('truetype');}

body {
  font-size: ms(0);
}
h5 {
  font-size: ms(1);
}
h4 {
  font-size: ms(2);
}
h3 {
  font-size: ms(3);
}
h2 {
  font-size: ms(4);
}
h1 {
  font-size: ms(5);
}
