---
layout: page
title: Blog
---
<div class="blog-layout">

  <div class="blog-layout__gutter"></div>

    <main role="main">

      <ul class="category-container category-container--blog">
        <a href="#all" class="category-container__category category-container__category--active category-container__category_all"><li>All</li></a>
        {% for category in site.categories %}
          <a href="#{{ category | first | slugify }}" class="category-container__category category-container__category_{{category | first}}"><li>{{ category | first | replace: '-', ' ' }}</li></a>
        {% endfor %}
      </ul>

      <ul class="blog">
        {% for post in site.posts %}
          <li class="blog__post {% for category in post.categories %}blog__post-{{category}} {% endfor %}">
            {% if post.image.feature %}
              <a href="{{ post.url }}">
                <div class="blog__image" style="background-image: url({{ site.url }}/assets/images/{{ post.image.feature }})"></div>
              </a>
            {% else %}
              <a href="{{ post.url }}">
                <div class="blog__image" style="background-image: url({{ site.url }}/assets/images/138.jpg"></div>
              </a>
            {% endif %}
            <div class="blog__info">
              <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
              <p class="date date--blog">{{ post.date | date_to_long_string }}</p>
              <div class="excerpt">{{ post.excerpt }}</div>
              <ul class="tag-container">
                {% for tag in post.tags %}
                  <li><a class='tag-container__tag' href='/blog/tags/#{{tag}}/'>{{tag | replace: '-', ' '}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% endfor %}
      </ul>

    </main>

  <div class="blog-layout__gutter"></div>

</div>
