---
layout: page
title: Blog
---
<div class="blog-layout">

  <div class="blog-layout__gutter blog-layout__gutter--left"></div>

    <main role="main main-blog">

      <ul class="category-container category-container--blog">
        <a href="#all" class="category-container__category category-container__category--active category-container__category_all"><li>All</li></a>
        {% for category in site.categories %}
          <a href="#{{ category | first | slugify }}" class="category-container__category category-container__category_{{category | first}}"><li>{{ category | first | replace: '-', ' ' }}</li></a>
        {% endfor %}
      </ul>

      <ul class="blog">
        {% for post in site.posts %}
          <li class="blog__post {% for category in post.categories %}blog__post-{{category}} {% endfor %}">
            <div class="blog__image">
              <a href="{{ post.url }}">
                <picture>
                  <source media="(max-width: 600px)" srcset="{{ site.url }}/resized-assets/blog-images/{{ post.image.feature }}-500.jpg">
                  <source media="(max-width: 850px)" srcset="{{ site.url }}/resized-assets/blog-images/{{ post.image.feature }}-200.jpg">
                  <img src="{{ site.url }}/resized-assets/blog-images/{{ post.image.feature }}-300.jpg" alt="{{ post.title }}">
                </picture>
              </a>
            </div>
            <div class="blog__info">
              <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
              <p class="date date--blog">{{ post.date | date_to_long_string }}</p>
              <div class="excerpt">{{ post.excerpt }}</div>
              <ul class="tag-container">
                {% for tag in post.tags %}
                  <li><a class='tag-container__tag' href='/blog/tags/#{{tag}}/'>{{tag | replace: '-', ' '}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% endfor %}
      </ul>

    </main>

  <div class="blog-layout__gutter blog-layout__gutter--right"></div>

</div>
