---
layout: page
title: Blog
---
  {% for category in site.categories %}
    <a class='category' href='/categories/{{ category | first }}/'>{{ category | first }}</a>
  {% endfor %}

  <h1>Blog Posts</h1>
  <ul class="blog_container">
    {% for post in site.posts %}
      <li class="blog_post">
        {% if post.image.feature %}
          <a href="{{ post.url }}">
            <div class="blog_image" style="background-image: url({{ site.url }}/assets/images/{{ post.image.feature }})"></div>
          </a>
        {% else %}
          <a href="{{ post.url }}">
            <div class="blog_image" style="background-image: url({{ site.url }}/assets/images/138.jpg"></div>
          </a>
        {% endif %}
        <div class="blog_info">
          <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
          <p class="date">{{ post.date | date_to_long_string }}</p>
          {{ post.excerpt }}
          <div class="category_container">
            {% for category in post.categories %}
              <a class='category' href='/categories/{{category}}/'>{{category}}</a>
            {% endfor %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
