---
layout: page
title: Portfolio
---
<div class="portfolio-layout">

    <main role="main">

        <ul class="category-container category-container--portfolio">
          <a class="filter category-container__category" data-filter=".portfolio__post"><li>All</li></a>
          <a class="filter category-container__category" data-filter=".portfolio__post-branding"><li>Branding</li></a>
          <a class="filter category-container__category" data-filter=".portfolio__post-print"><li>Print</li></a>
          <a class="filter category-container__category" data-filter=".portfolio__post-web"><li>Web Development</li></a>
        </ul>

        <ul class="portfolio">
          {% assign sorted = (site.portfolio_posts | sort: 'date') | reverse %}
          {% for item in sorted %}
            <div class="mix portfolio__post{% for portfolio_categories in item.portfolio_categories %} portfolio__post-{{portfolio_categories}} {% endfor %}">
              <a class="portfolio__selector" href="{{ item.url }}">
                <img class="portfolio__image" src="/assets/portfolio-images/{{ item.image.thumbnail }}.jpg" alt="{{ item.title }}"/>
              </a>
              <div class="portfolio__info">
                <a href="{{ item.url }}">
                  <h2>{{ item.title }}</h2>
                  <p class="excerpt">{{ item.excerpt }}</p>
                </a>
              </div>
            </div>
          {% endfor %}
        </ul>

    </main>

</div>
