---
layout: page
title: Portfolio
---
<div class="portfolio-layout">

    <main role="main">

        <ul class="category-container category-container--portfolio">
          <a href="#all" class="category-container__category category-container__category_all category-container__category--active"><li>All</li></a>
          <a href="#branding" class="category-container__category category-container__category_branding"><li>Branding</li></a>
          <a href="#print" class="category-container__category category-container__category_print"><li>Print</li></a>
          <a href="#development" class="category-container__category category-container__category_web"><li>Web Development</li></a>
        </ul>

        <ul class="portfolio">
          {% assign sorted = (site.portfolio_posts | sort: 'date') | reverse %}
          {% for item in sorted %}
            <li class="portfolio__post{% for portfolio_categories in item.portfolio_categories %} portfolio__post-{{portfolio_categories}} {% endfor %}{% if item.highlight%}portfolio__post--highlight{% endif %}">
                  <a href="{{ item.url }}">
                    <div class="portfolio__image" style="background-image: url({{ site.url }}/assets/portfolio-images/{{ item.image.thumbnail }}.jpg)"></div>
                  </a>
              <div class="portfolio__info">
                <a href="{{ item.url }}"><h2>{{ item.title }}</h2></a>
                <p class="date date--portfolio">{{ item.date | date: "%B %Y" }}</p>
                <p class="excerpt">{{ item.excerpt }}</p>
                {% if item.github %}
                  <a class="portfolio-icon portfolio-icon--github" href="{{ item.github }}">
                      <img src="{{ site.url }}/assets/icons/github.svg" alt="">
                  </a>
                {% endif %}
                {% if item.site %}
                  <a class="portfolio-icon" href="{{ item.site }}">
                      <img src="{{ site.url }}/assets/icons/website.svg" alt="">
                  </a>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>

    </main>

</div>
