<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <script src="https://use.typekit.net/grm8omt.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>

      {% include header.html %}

      <div class="layout">

        <div class="gutter"></div>

        <main role="main">

          {{ content }}

        </main>

        <div class="gutter"></div>

      </div>

      {% include footer.html %}

      <script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
      <script type="text/javascript" src="/js/filter.js"></script>
      <script type="text/javascript" src="/js/category-container.js"></script>
      <script type="text/javascript" src="/js/navbar-highlighter.js"></script>
    </body>
</html>
